In [4]:
import sqlite3
con = sqlite3.connect('./test_db')

In [5]:
cur = con.cursor()
for row in cur.execute('SELECT * FROM person'):
    print(row)
    for column in row:
        print(column)

(1, 'name_a', 10.5)
1
name_a
10.5
(3, 'c_update', 3.14)
3
c_update
3.14
(4, 'from_model', 100.0)
4
from_model
100.0
(100, 'name_z', 99.9)
100
name_z
99.9

In [6]:
insert_sql = ' INSERT INTO person VALUES(?, ?, ?)'
insert_param = (100, 'name_z', 99.9)
cur.execute(insert_sql, insert_param)

IntegrityError: UNIQUE constraint failed: person.id

In [ ]:
con.commit()

In [ ]:
cur.execute('SELECT * FROM person WHERE size > :size', {'size':10})
print(cur.fetchall())

[(1, 'name_a', 10.5), (100, 'name_z', 99.9)]

In [ ]:
update_sql = ' UPDATE person SET name = ? WHERE id = ? '
update_param = ('changed_name', 1)
cur.execute(update_sql, update_param) 
con.commit()

In [ ]:
delete_sql = ' DELETE from person WHERE id = 1 '
cur.execute(delete_sql) 
con.commit()